<ion-view style="" title="Sobre">
    <div class="header">Sobre</div>
    <ion-content class="has-header about" overflow-scroll="true" padding="true">
      <p>O mapa periférico é uma ferramenta para mapear e divulgar os eventos e ações que acontecem nas periferias da zona norte.</p>

      <p>Mais informações: <a href="http://casanomeiodomundo.com.br">site do coletivo</a>
      <p ng-if="version">Versão: {{version}}</p>

      <p style="width: 100%; text-align: center; padding-top: 1em;">
        <img src="img/logocmm.png" width="80%" style="margin: auto"/>
      </p>
    </ion-content>
</ion-view>
